.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(27, 31, 36, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Make sure it's above other content */
}

.modal-content {
  width: 50%;
  max-height: 100%; 
  background: #353B49;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden; 
  overflow-y: scroll;
}
.modal-content h2 {
	color: white;
}

.modal-content::-webkit-scrollbar {
	display: none; /* Hides the scrollbar */
  }
  
  /* Hide scrollbar for IE, Edge, and Firefox */
  .modal-content {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
  }

.modal-info-section {
	display: flex;
	justify-content: center;
	gap: 100px;
	margin-top: 50px;
}
.modal-book-image img{
	width: 140px;
	height: 200px;
	margin-top: 20px;
	border: 2px solid #C2C2FE;
	box-shadow: 0 3px 10px rgba(194, 194, 256, 0.4);
}
.modal-book-titles {
	text-align: start;
}

.title-style {
	color: #697AD1;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.modal-book-titles {
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 500;
}

.modal-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: start;
	margin: 50px 0 50px 100px;
}
.modal-label{
	color: #697AD1;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 600;
	margin-left: 20px;
}
.modal-input {
	width: 200px;
	height: 40px;
	border: 1px solid #697AD1;
	border-radius: 6px;
	background-color: #5F6470;
	margin:10px 0 10px 28px;
	color: white;
}

.modal-input-genre {
	width: 200px;
	height: 40px;
	border: 1px solid #697AD1;
	border-radius: 6px;
	background-color: #5F6470;
	margin:10px 0 10px 14px;
	color: white;
}
.rating {
	display: flex;
	justify-content: flex-start;
}
.modal-textarea {
	width: 400px;
	height: 100px;
	border: 1px solid #697AD1;
	border-radius: 6px;
	background-color: #5F6470;
	margin:20px 0 0 20px;
	color: white;
}
.modal-label-textarea {
	text-align: start;
	color: #697AD1;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 600;
}
.button-container {
	display: flex;
	justify-content: center;
	margin: 20px auto;
}

.cancel-btn {
	width: 200px;
	height: 40px;
	border: 1px solid #697AD1;
	border-radius: 6px;
	background-color: #353B49;
	margin:10px 0 10px 20px;
	color: white;
	font-size: 16px;
	font-weight: 500;
}


.save-btn {
	width: 200px;
	height: 40px;
	border: 1px solid #697AD1;
	border-radius: 6px;
	background-color: #697AD1;
	margin:10px 0 10px 20px;
	color: white;
	font-size: 16px;
	font-weight: 500;
}

.expandable-text {
	position: relative;
	overflow: hidden;
	max-height: 5em; /* Adjust height based on the text block you want to show */
	transition: max-height 0.3s ease;
  }
  
  .expandable-text p {
	margin: 0;
  }
  
  .expandable-text.expanded {
	max-height: none; /* Removes the height restriction when expanded */
  }
  
  .expand-button {
	background-color: transparent;
	border: none;
	color: #B26C96;
	cursor: pointer;
	font-size: 1em;
	margin-top: 0.5em;
  }
  
  .expand-button:hover {
	text-decoration: underline;
  }

  .description-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 50px 100px;
	color: white;
  }
  
  .book-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
  }
  
  .favorite-icon {
	cursor: pointer;
	font-size: 24px;
  }
  