#search-page {
	width: 100%;
	min-height: 100vh;
	background: url('../../images/background-image.jpeg'), rgba(27, 31, 36, 0.9);
	background-size: contain;
	background-position: center;
	background-blend-mode: overlay; /* Or use "multiply", "screen", etc. */
  }

  