.my-books-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
}


.my-books-container {
	display: flex;         
	padding: 10px;               
	white-space: nowrap;     
	overflow: hidden; /* Hide scrollbar */
	overflow-x: scroll; /* Allow horizontal scroll if needed */        
	scroll-behavior: smooth;
	
}
.my-books-container::-webkit-scrollbar {
	display: none; /* Hide scrollbar */
  }

.my-book-card {
  display: inline-block;  
  background-color: #353B49;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  min-height: 340px;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s ease;
  margin: 20px 40px;
}

.added-books-title {
	color: white;
}

.delete-btn {
	width: 80%;
	height: 35px;
	background-color:  #5452D1;
	border: 1px solid #5452D1;
	border-radius: 10px;
	color: white;
	cursor: pointer;
}

.my-book-image {
	max-width: 100%;
	height: 200px;
	margin-bottom: 10px;
	cursor: pointer;
  }

  .my-book-title {
	white-space: nowrap;       
	overflow: hidden;             
	text-overflow: ellipsis;      
	width: 100%; 
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 5px;
	color: white;
  }
  

  .my-book-authors {
	white-space: nowrap; 
	overflow: hidden;         
	text-overflow: ellipsis;  
	width: 100%; 
	font-size: 14px;
	color: white;
  }

  .add-button {
	width: 80%;
	height: 35px;
	background-color:  #5452D1;
	border: 1px solid #5452D1;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	margin: 150px auto 10px;
  }

  .add-new-book {
	display: flex;
	flex-direction: column;
	justify-content: center;
  }

  .add-book-image {
	max-width: 80%;
	height: 80%;
	margin: 0 auto 10px;
  }
  .scroll-button {
	width: 50px;
	height: 50px;
	position: absolute;
	background-color: rgba(27, 31, 36, 0.3);
    border: none;
    outline: none;
    box-shadow: none;
	z-index: 10;
	top: 0;  /* Position vertically centered */
    transform: translateY(-50%);
	margin-bottom: 20px;
  }

  .scroll-button img {
	width: 50px;
	height: 50px;
  }
.left {
	left: 0;
  }

.right {
	right: 0;
  }
