.challenge-section {
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 50px 0 100px 0;
}

.challenge-title {
	width: 33.3%;
	margin: 20px 0px 20px 180px;
}

.challenge-title h1{
	font-family: "Tenor Sans", sans-serif;
	text-align: start;
	height: fit-content;
	color: white;
	font-size: 48px;
	font-weight: 500;
}

.challenge-title h2{
	font-family: "Poppins", sans-serif;
	color: white;
	font-size: 24px;
	font-weight: 500;
	margin: 0;
	text-align: start;
	
}
.chart-position {
	width: 33.3%;
	margin: 20px 100px;
}

.results-container {
	width: 33.3%;
	height: fit-content;
	padding-left: 10px;
	margin: 20px 160px 20px 0px;
	}
	
.results-title {
		font-family: 'Poppins', sans-serif;
		font-size: 28px;
		font-weight: 500;
		color: white;
		text-align: start;
		margin: 20px 0 20px 0;
	}
.results-motivation {
	font-family: 'Poppins', sans-serif;
	font-size: 32px;
	font-weight: 500;
	color: #5452D1;
	text-align: start;
	margin: 20px 0 20px 0;
}
.book-count {
	font-family: 'Poppins', sans-serif;
	font-size: 54px;
	font-weight: 500;
	color: #5452D1;
}